<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PodFilterDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PodFilterDownloader.Properties.Settings>
            <setting name="PoDInstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AvailableFilters_names" serializeAs="String">
                <value>Gold Goblin,Feather</value>
            </setting>
            <setting name="AvailableFilterUrls" serializeAs="String">
                <value>https://raw.githubusercontent.com/Boxcar87/Greedygoblin/master/greedygoblin.filter,https://raw.githubusercontent.com/BetweenWalls/Feather/master/item.filter</value>
            </setting>
            <setting name="AvailableFilterHomeUrls" serializeAs="String">
                <value>https://github.com/Boxcar87/Greedygoblin/wiki/Hands-off-my-gold!,https://github.com/BetweenWalls/Feather</value>
            </setting>
            <setting name="SelectedAvailableFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvailableFilterAuthors" serializeAs="String">
                <value>BoxCar87,BetweenWalls</value>
            </setting>
            <setting name="AvailableFilterEtags" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadedFilterEtags" serializeAs="String">
                <value />
            </setting>
        </PodFilterDownloader.Properties.Settings>
    </userSettings>
</configuration>